<header>
  <h1>This is my header</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>
</header>
<p>{{screamIt "I don't know what's happening... hehe. But I don't think I love it. hehehehehe"}}</p>
