<style>
  * {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  .header-title {
    color: #F72092;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    border-bottom: black 2px solid;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 2em;
  }

  a:hover {
    text-decoration: none;
    color: #F72092;
  }

</style>
<header>
  <h1 class="header-title">The Defective Moderns</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
  </nav>
</header>
