<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
</head>

<body>
  {{>header}}
  <head>
    <h1>Welcome, Defective Modern</h1>
  </head>
  <section>
    <article>
      <p>This is what we're all about</p>
      <p>Year: {{currentYear}}</p>
    </article>
  </section>
</body>

</html>
